*.spec
NNUE_MODELS/cutechess/
NNUE_MODELS/*.nnue
LATEST_GAME/nnue/carlsen_halfkav2_hm.nnue
.DS_Store
__pycache__/
build/
dist/
nnue/*.nnue
ChessApp-Final.dmg
MyIcon.icns
.DS_StoreChessApp-Final.dmg
NEW_PROJ/ChessApp-Final.dmg
*.dmg
*.icns
.DS_Store
NEW_PROJ/
NEW_PROJ/ChessApp-Final.dmg
*.dmg
